/bin
/build3/gmake
/build_cmake/
CMakeFiles/
*.a
*.so
*.so.*

CTestTestfile.cmake
Makefile
cmake_install.cmake
*.blend*
App_*
Test_*
AppBasicExampleGui

/docs/html
/.vscode

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs
